# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.env

# OS
.DS_Store

# Data (keep only small samples)
data/external/
data/processed/
data/generated/

# Large binaries
*.xlsx
*.parquet
*.bak
*.csv

# Optional: logs
*.log

# dbt artifacts (do not version)
basket_ai_dbt/target/
basket_ai_dbt/dbt_packages/
basket_ai_dbt/logs/
basket_ai_dbt/.user.yml
basket_ai_dbt/.user.yml.lock

# Mac + misc
**/.DS_Store


